*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat";
    background-color: #FFF;
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100%;
}
.container{
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 414px;
    max-height: 800px;
    background-color: #CBE0DB;
}
.cabecalho{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 35px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}
.nav-menu h1{
    font-size: 25px;
    color: #2F4572;
    font-weight: 500;
}
.nav-menu a{
    color: #2F4572;
    font-size: 25px;
}
.arrow-button svg{
    transition: transform;
    transform: rotate(180deg);
    color: #314774;
    width: 30px;
    height: 30px;
}
.search-bar-wrapper{
    width: 100%;
    padding: 0 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 12px 15px;
    width: 100%;
}
.search-bar i{
    color: #3C527B;
    font-size: 16px;
}
.search-bar input{
    border: none;
    outline: none;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #2f4572;
    width: 100%;
}
.search-bar input::placeholder{
    color: #394E79;
    font-weight: 500;
    font-size: 16px;
}
.switch-animals{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    padding: 0 25px;
}
.dogs-page{
    display: flex;
    gap: 10px;
    background-color: #68AA9A;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
}
.dogs-page a{
    text-decoration: none;
}
.dogs-page p {
    color: white;
}
.dogs-page i{
    font-size: 20px;
}
.dogs-page:hover{
    transform: scale(110%);
}
.cats-page{
    display: flex;
    gap: 10px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #EAF3F1;
    transition: transform .5s;
}
.cats-page a{
    text-decoration: none;
}
.cats-page p{
    color: #435880;
}
.cats-page i{
    color: #435880;
    font-size: 20px;
}
.cats-page:hover{
    transform: scale(110%);
}

